-#%text-angular{"ng-model"        => "subject",
  -#"placeholder"     => "subject"}

.email{"ng-controller" => "EmailsCtrl"}

  %div.drawers
    %snap-drawer.left-draw
      .container
        %nav.navbar.navbar-inverse.navbar-fixed-top
          %span.navbar-brand Recipients
        .contacts{"ng-controller" => "RecipientsCtrl"}
          %ul.list-unstyled
            %li{"ng-repeat" => "recipient in recipients"}
              %a{href: "#/contacts/{{recipient.id}}", title: "{{recipient.email}}"} {{recipient.name || recipient.email}}

          %form.form-inline{:role => "form"}
            .form-group
              -#%input.form-control.input-lg{"ng-model" => "newContact.email", :type => "text"}/
              %input.form-control.input-lg{"ng-model" => "selected", 
                "typeahead" => "contact as contact.email for contact in contacts | filter:$viewValue", 
                type: "text",
                "typeahead-on-select" => "addRecipientOrContact(selected)" }
            .form-group
              %button.btn.btn-primary.form-control.input-lg{"ng-click" => "addRecipientOrContact()"}
                %span.glyphicon.glyphicon-plus-sign
                Add


  %div.content
    %snap-content{id: "content"}
      .container
        %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
          %span.navbar-brand Email.

        %br
        %br
        %text-angular-toolbar{name: "toolbar"}

        %div{"text-angular"      => true,
          "ng-model"             => "email.subject",
          "ta-target-toolbars"   => 'toolbar',
          "ta-text-editor-class" => "textAngular subject",
          "ta-html-editor-class" => "textAngular subject",
          "ta-focussed-class" => "focussed"}

        %div{"text-angular"      => true,
          "ng-model"             => "email.body",
          "ta-target-toolbars"   => 'toolbar',
          "ta-text-editor-class" => "textAngular body",
          "ta-html-editor-class" => "textAngular body",
          "ta-focussed-class" => "focussed"}

        %button{ :class => "btn btn-primary btn-small", "snap-toggle" => "left"}
          Recipients ->

