.campaign .body .editing .view, .campaign .name .editing .view {
  display: none; }
.campaign .body .editing .edit, .campaign .name .editing .edit {
  display: block;
  padding: 13px 17px 12px 17px;
  margin: 0 0 0 43px; }
  .campaign .body .editing .edit textarea, .campaign .name .editing .edit textarea {
    width: 90%;
    height: 70%; }
.campaign .edit {
  display: none; }
