.groups {
  .page-header {
    a {
      // border-bottom: 1px solid #eee;
      // font-size: 36px;
      // font-weight: 500;
      // // line-height: 1.1;
      color: #333;
      // height: 1.5em;
      // text-decoration: none;
      // border: none;
      cursor: pointer;
    }

    .editable-input {
      height: 1.5em;
      font-size: 36px;
      font-weight: 500;
    }
  }

  h1.editable-click:hover {
    text-decoration:none;
    color: #333;
    border-bottom: 1px solid #eee;
  }
}
