%h1.page-header Recipients

.recipients{"ng-controller" => "recipientsCtrl"}
  %form.form-inline{:role => "form"}
    .form-group
      %input.form-control.input-lg{"ng-model" => "selected",
        "placeholder" => "Email, Name or Group",
        "typeahead" => "contactOrGroup as (contactOrGroup.email_address || contactOrGroup.name) for contactOrGroup in contactsOrGroups | filter:$viewValue",
        type: "text",
        "typeahead-on-select" => "addRecipientOrContact()" }
    .form-group
      %button.btn.btn-primary.form-control.input-lg{"ng-click" => "addRecipientOrContact()"}
        %span.glyphicon.glyphicon-plus-sign
        Add

  %h2.sub-header Already added
  .table-responsive
    %table.table.table-striped
      %thead
        %tr
          %th Name
          %th Email
          %th &nbsp;

      %tbody
        %tr{"ng-repeat" => "recipient in recipients"}
          %td
            %a{"editable-text" => "recipient.name", "onbeforesave" => "updateRecipient({id:recipient.id, name: $data})"} {{recipient.name || "No name"}}

          %td
            %a{"editable-email" => "recipient.email_address", "onbeforesave" => "updateRecipient({id:recipient.id, email_address: $data})"} {{recipient.email_address}}

          %td
            %span.glyphicon.glyphicon-minus-sign{"ng-click" => "removeRecipient(recipient)"}
