.email
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        %ul.nav.nav-sidebar
          %li
            %a{href: "/emails/#"} All emails
          %li{"ui-sref-active" => "active"}
            %a{"ui-sref" => "showEmail"} Compose
          %li{"ui-sref-active" => "active"}
            %a{"ui-sref" => "showEmail.recipients"}
              Recipients
              .badge.pull-right
                {{recipients.length || 0}}

          %li{"ui-sref-active" => "active", "ng-class" => "{disabled: !enableMetrics, active: interactWith=='metrics'}"}
            %a{"ui-sref" => "showEmail.metrics"} Metrics

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main{"ng-switch" => true, "on"=>"$state.current.data.name"}
        %div{"ng-switch-when" => "compose"}
          = render :partial => "ng_views/emails/compose"

        %div{"ng-switch-when" => "recipients"}
          = render :partial => "ng_views/emails/recipients"

        %div{"ng-switch-when" => "metrics"}
          = render :partial => "ng_views/emails/metrics"

        %script{type: "text/ng-template", id: "confirmationDialog"}
          .modal-header
            %h3 Send {{email.subject || "Email"}}?
          .modal-body
            You will email all the peoples, and there is no undo. Do you want to proceed?
          .modal-footer
            %button.btn.btn-primary{"ng-click" => "ok()"} Oh Hells Yes
            %button.btn.btn-warning{"ng-click" => "cancel()"} Not yet...
