.email

  .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
    .container-fluid
      .navbar-header
        %a.navbar-brand{href: "#"} Innocuous.me

  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        %ul.nav.nav-sidebar
          %li.active
            %a{href: "#"} Compose
          %li
            %a{href: "#"} Recipients
          %li.disabled
            %a{href: "#"} Metrics

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        %h1.page-header Email

        %form
          %input.subject{"ng-model"  => "subject",
            "placeholder"            => "Subject"}

        %div{"text-angular"      => true,
          "ng-model"             => "body",
          "ta-target-toolbars"   => 'toolbar',
          "ta-text-editor-class" => "textAngular body",
          "ta-html-editor-class" => "textAngular body",
          "ta-focussed-class"    => "focussed"}

        %div
          %text-angular-toolbar{name: "toolbar"}

        .send
          %button.btn.btn-success{"ng-click" => "showConfirmationPopup()"}
            Send
            %span.glyphicon.glyphicon-send

        %script{type: "text/ng-template", id: "confirmationDialog"}
          .modal-header
            %h3 Send {{email.subject || "Email"}}?
          .modal-body
            You will email all the peoples, and there is no undo. Do you want to proceed?
          .modal-footer
            %button.btn.btn-primary{"ng-click" => "ok()"} Oh Hells Yes
            %button.btn.btn-warning{"ng-click" => "cancel()"} Not yet...
