%div{"ng-controller" => "bulkAddMemberCtrl"}
  %form.form-inline{:role => "form"}
    %textarea.form-control{rows: "3", "ng-model" => "bulkEmailAddresses"}
    .form-group
      %button.btn.btn-primary.form-control.input-lg{"ng-click" => "addContacts()"}
        %span.glyphicon.glyphicon-plus-sign
        Add

