.groups
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        %ul.nav.nav-sidebar
          %li{"ui-sref-active" => "active"}
            %a{"ui-sref" => "index"} 
              All groups

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main
        %h1.page-header Groups

        %form.form-inline{:role => "form"}
          .form-group
            %input.form-control.input-lg{"ng-model" => "newGroup.name", :type => "text"}/
          .form-group
            %button.btn.btn-primary.form-control.input-lg{"ng-click" => "addGroup()"}
              %span.glyphicon.glyphicon-plus-sign
              Group


        .table-responsive
          %table.table.table-striped
            %thead
              %tr
                %th Name

            %tbody
              %tr{"ng-repeat" => "group in groups"}
                %td
                  %a{href: "#/{{group.id}}"}
                    {{group.name}}
