.groups
  .container-fluid
    .row
      .col-sm-3.col-md-2.sidebar
        %ul.nav.nav-sidebar
          %li{"ui-sref-active" => "active"}
            %a{"ui-sref" => "index"}
              %i.fa.fa-chevron-left
              All groups
          %hr
          %li{"ui-sref-active" => "active"}
            %a{"ui-sref" => "showGroup"} All members
          %li{"ui-sref-active" => "active"}
            %a{"ui-sref" => "showGroup.bulkAdd"} Bulk add

      .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main{"ng-switch" => true, "on"=>"$state.current.data.name"}
        %h1.page-header
          %a{"editable-text"=>"group.name", "onbeforesave"=>"updateGroupName($data)"} {{group.name}}

        %div{"ng-switch-when" => "list"}
          = render partial: 'ng_views/groups/members'

        %div{"ng-switch-when" => "bulkAdd"}
          = render partial: 'ng_views/groups/bulk_add'
