!!!
%html{"data-framework" => "angularjs", :lang => "en", "ng-app" => "emailer"}
  %head
    %title todo
    %script{:src => "app/bower_components/angular/angular.js"}
    %script{:src => "app/bower_components/angular-resource/angular-resource.js"}
    %script{:src => "app/bower_components/angular-route/angular-route.js"}
    %script{:src => "app/bower_components/angular-bootstrap/ui-bootstrap.min.js"}
    %script{:src => "app/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"}
    %script{:src => "app/bower_components/underscore/underscore-min.js"}
    %link{:href => "app/bower_components/bootstrap/dist/css/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/campaign.css", :rel => "stylesheet"}/
    %script{:src => "app/app.js", :type => "text/javascript"}
    - %w(routes services directives controllers).each do |type|
      - Dir.glob(File.join(RACK_ROOT, "public", "app", type, "*.js")).each do |file|
        %script{:src => "app/#{type}/#{File.basename(file)}", :type => "text/javascript"}

    :css
      body { padding-top: 70px; }
  %body
    %ng-view
