.navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
  .container-fluid
    .navbar-header
      %a.navbar-brand{href: "#"} Innocuous.me
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a{href: "/emails"} Email
        %li
          %a{href: "/contacts"} Contacts
        %li
          %a{href: "/groups"} Groups
